body {
  margin-left: 8%;
  margin-right: 8%;
}

body p {
    color: #575455;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

#info ul {
  margin: 0;
  padding: 0;
}

#info li {
  display: inline-block;
  margin-left: 20px;
}

#cabecario {
  font-family: poppins;
  text-transform: uppercase;
}

#info {
  gap: 30px;
  display: flex;
  margin-left: 100px;
  font-family: Poppins;
}

#apresentacao {
  padding-top: 5%;
  font-family: poppins;
}

#foto {
  border-radius: 16px;
}

#button {
  margin-top: 15px;
  padding: 10px;

  border-radius: 16px;
  color: white;
  background-color: #1F7CFF;
}

#clientes{
  margin-top: 20px;
}

#servico{
  text-align: center;
}

.red{
  color: #F75C4E;
  margin-bottom: 0px;
}

#servico p{
  font-family: poppins; 
}

#servico h1{
  font-family: poppins;
}

.servico{
  padding-top: 50px;
font-family: poppins;
text-align: center;
}

#email1{
  margin-top: 50px;
}

#imgEmail{
border-radius: 16px;
}

#email2{
  margin-right: 0%;
  padding-top: 50px;
  font-family: poppins;
}

#caixaEmail{
  border-radius: 7px;
}

#portifolio{
  margin-top:80px ;
}

